@import 'tailwindcss';

html,
body,
#root {
  @apply h-full w-full bg-gray-900 text-white;
}

strong {
  @apply font-bold;
}

em {
  @apply italic;
}

aside {
  @apply flex before:mr-4 before:block before:w-1 before:rounded before:bg-red-800 before:content-[''];
}

tr {
  @apply grid grid-cols-12;
}

td {
  @apply text-center;
}

.collapse-container {
  height: 0;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.collapse-hidden {
  visibility: hidden;
}

.collapse-entered {
  height: auto;
  overflow: visible;
}
